.addForm {
  margin-bottom: 40px;
}

.formControl {
  margin: 20px 0;
}

.formControl label {
  display: block;
}

.formWarning {
  font-size: 0.8rem;
  opacity: 50%;
  color: grey;
  line-height: 0.8rem;
}

.formControl input {
  width: 100%;
  width: 450px;
  height: 40px;
  margin: 5px 0 0 0;
  padding: 3px 7px;
  font-size: 17px;
}

.formControl select {
  width: 100%;
  width: 450px;
  height: 40px;
  margin: 5px 0 0 0;
  padding: 3px 7px;
  font-size: 17px;
}

.btn {
  display: block;
  width: 100%;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  /* margin: 5px; */
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}