
.datacontainer {
 display: grid;
 grid-template-columns: 25% 75%;
 width: 100%;
 max-width: 1000px;
 min-width: 1000px;
}

.datacontainer div {
  margin: 5px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.card {
  margin: 0.2rem;
  padding: 0.7rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.title {
  /* margin: 0.2rem; */
  padding: 0 0 0 0.7rem;
  text-align: left;
  color:inherit;
}

.checkbox {
  margin-right: 0.5rem;
  /* opacity: 0; */
}

.tasksHeader {
  display: grid;
  grid-template-columns: 50% 10% 70%;
  width: 100%;
}

.projectFocus {
  /* padding: 0.7rem 0rem 0rem 1rem; */
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  border: none;
  color:#0070f3;
}


.formcard {
  margin: 0.2rem;
  padding: 0.7rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  max-width: 500px;
  border-radius: 10px;
}

.formheader {
    display: grid;
    grid-template-columns: 85% 15%;
    height: 40px;
    
}

.formheader h2 {
  color: #0070f3;
  position: relative;
  padding: 1px 5px 1px 50px;
  
}

.todo {
  display: grid;
  grid-template-columns: 30px;
  grid-template-areas:
    
    'taskname taskname taskname taskname taskname taskname date'
    'description description description description description . cost'
    'description description description description description . duration'
    'description description description description description . .'
    'description description description description description . .'
    ;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
  cursor: pointer;
}

.card h3 {
  
}

.card p {
  display: inline-block;
  margin: 0;
  font-size: 1.2rem;
}

.card .taskname {
  grid-area: taskname;
  font-weight: bold;
  margin: 0 0 0.3rem 0;
}

.card .taskname .project {
  color: lightslategray;
  font-weight: normal;
  font-size: 0.9rem;
  text-align: right;
  padding: 0 5px;
  transform: translateY(-10%);
}

.card .description {
  grid-area: description;
  margin: 0 0 0.5rem 0;
  font-size: 0.9rem;
  color: grey;
}

.card .date {
  color: lightslategray;
  font-size: 0.8rem;
  grid-area: date;
  text-align: right;
  margin: 0.2rem 0.2rem 0 0;
}

.card .duration {
  color: lightslategray;
  grid-area: duration;
  text-align: right;
  font-size: 0.8rem;
}

.card .duration span {
  font-size: 0.8rem;
}

.card .cost {
  grid-area: cost;
  font-size: 0.8rem;
  text-align: right;
  align-self: end;
  justify-content: flex-end;
  color: var(--money-color);
  font-weight: bold;
  padding: 0 3px;
  color: rgb(101, 194, 101);
  margin: 0 0 0.5rem 0;
}

.vital {
  color: red;
}

.important {
  color: orange;
}

.urgent {
  color: rgb(41, 154, 247);
}

.trivial p {
  color: pink;
}

.formControl {
  margin: 20px 0;
}

.formControl label {
  display: block;
}

.formWarning {
  font-size: 0.8rem;
  opacity: 50%;
  color: grey;
  line-height: 0.8rem;
}

.formControl input {
  width: 100%;
  width: 450px;
  height: 40px;
  margin: 5px 0 0 0;
  padding: 3px 7px;
  font-size: 17px;
}

.formControl .projectInput {
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

.formControl .projectInput::placeholder {
  opacity: 50%;
}

.formControl .taskName {
  border-top: none;
  border-right: none;
  border-left: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.formControl .taskName::placeholder {
  opacity: 50%;
}

.vital::placeholder {
  color: red;
}

.important::placeholder {
  color: orange;
}

.urgent::placeholder {
  color: rgb(41, 154, 247);
}

.trivial::placeholder {
  color: grey;
}

.formContro .taskName:active {
  border: none;
  outline: none;
}


.formControl select {
  width: 100%;
  width: 450px;
  height: 40px;
  margin: 5px 0 0 0;
  padding: 3px 7px;
  font-size: 17px;
}

.saveTodo {
  width: 100%;
  background: #0070f3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn {
  display: block;
  width: 100%;
  background: #000;
  color: #fff;
  border: none;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.closeTodoForm {
  display: block;
  float: right;
  color: black;
  margin: 20px 22px;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: inherit;
}


.new {
  background: #0070f3;
}

.search {
  width: 280px;
  /* width: 100%; */
  height: 45px;
  padding: 5px 5px;
  font-size: 17px;
  border-radius: 5px;
  margin: 0px 5px;
}

.search:focus {
  outline: none;
  background-color: white;
  color: black;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

